NEXT_PUBLIC_BASE_URL="https://localhost:3000"

SEO_INDEXING_DISABLED="true"

WORDPRESS_URL="https://wordpress.local"
WORDPRESS_HOSTNAME="wordpress.local"

WORDPRESS_USER="wordpress-user-name"
WORDPRESS_APPLICATION_PASSWORD="your-application-password-from-wordpress-admin"

# If using the revalidate plugin
# You can generate by running `openssl rand -base64 32` in the terminal
WORDPRESS_WEBHOOK_SECRET="your-secret-key-here"
