# Dependencies
/node_modules
/.pnp
.pnp.js
pnpm-lock.yaml
pnpm-workspace.yaml

# Next.js
/.next
out

# Production
/build

# Miscellaneous
.DS_Store
*.log
*.lock

# Environment Variables
.env

# pnpm
.pnpm-store/
